<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/images/drive-test.ico" />
    <title><%= data.title %></title>

    <%-include("./partials/stylesheet.ejs") %>

    <link
      rel="stylesheet prefetch"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker3.standalone.css"
    />
    <link rel="stylesheet" href="/css/date-picker.css" />
    <link rel="stylesheet" href="/css/exam_result.css" />
    <link rel="stylesheet" href="/css/driver_result.css" />



  </head>

  <body>
    <%-include("./partials/header.ejs") %>
    <div class="container">
      <div class="row">
        <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
          <div class="panel border bg-white">
            <div class="panel-body p-3">
              <!-- <form action="/driver_result" method="get">
                <div class="col-12">
                  <h1>Exam Results</h1>

                  <table class="table table-striped">
                      <thead>
                          <tr>
                              <th scope="col">User Name</th>
                              <th scope="col">Test Type</th>
                              <th scope="col">Test Result</th>
                              <th scope="col">Examiner Comment</th>
                          </tr>
                      </thead>
                      <tbody>
                            <tr>
                              <td><%= data.userList.firstName + ' ' + data.userList.lastName%></td>
                              <td><%= data.userList.testType %></td>
                              <td><%= data.userList.testResult ? 'Pass' : 'Fail' %></td>
                              <td><%= data.userList.examinerComment %></td>
                                <td></td>
                            </tr>
                      </tbody>
                  </table>
                </div>
              </form> -->
              <form action="/driver_result" method="get">
                <div class="col-12">
                  <h1>Exam Result</h1>
                  <% if (data.userList?.testResult != null) { %>

                    <% if (data.userList.testResult == true) { %>
                        <div>
                          <img class="result-icon-accept" src="/images/accept.png" width="100px">
                        </div>
                      <% } else { %>
                        <div>
                          <img class="result-icon-reject" src="/images/reject.png" width="130px">
                        </div>
                      <% } %>
                     

                    <div class="card">
                      <div class="card-header">
                        <h5 class="card-title"><strong>User Details</strong></h5>
                      </div>
                      <div class="card-body">
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item"><strong>User Name:</strong> <%= data.userList.firstName + ' ' + data.userList.lastName %></li>
                          <li class="list-group-item"><strong>Test Type:</strong> <%= data.userList.testType %></li>
                          <li class="list-group-item"><strong>Test Result:</strong> <%= data.userList.testResult ? 'Pass' : 'Fail' %></li>
                          <li class="list-group-item"><strong>Examiner Comment:</strong> <%= data.userList.examinerComment %></li>
                        </ul>
                      </div>
                    </div>
                  <% } else { %>
                    <div>
                      <img class="result-icon-pending" src="/images/wait.png" width="110px">
                    </div>
                    <div class="alert alert-danger" role="alert">
                      You dont have any exam result!
                    </div>
                  <% } %>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <small id="copyright-white"
      >Copyright &copy; 2023, All Rights Reserved</small
    >
  </body>
</html>
