<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/images/drive-test.ico" />
    <title><%= data.title %></title>

    <%-include("./partials/stylesheet.ejs") %>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker3.standalone.css"
    />
    <link rel="stylesheet" href="/css/exam_result.css" />
  </head>

  <body>
    <%-include("./partials/header.ejs") %>
    <div class="container">
      <div class="row">
        <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
          <div class="panel border bg-white">
            <div class="panel-body p-3">
              <form action="/exam_result" method="post" id="examiner_form">
                <div class="col-12">
                  <h1>Exam Results</h1>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">User Name</th>
                        <th scope="col">Exam Date</th>
                        <th scope="col">Exam Time</th>
                        <th scope="col">Test Type</th>
                        <th scope="col">Test Result</th>
                        <th scope="col">Examiner Comment</th>
                        <th scope="col">Order Driver License</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for(var i=0; i< data.userList.length; i++) {%>
                      <tr data-userid="<%= data.userList[i]._id %>">
                        <td>
                          <%= data.userList[i].firstName + ' ' +
                          data.userList[i].lastName%>
                        </td>
                        <td>
                          <%= data.userList[i].appointment.appointmentDate %>
                        </td>
                        <td>
                          <%= data.userList[i].appointment.appointmentTime %>
                        </td>
                        <td><%= data.userList[i].testType %></td>
                        
                        <% if(data.userList[i].testResult){ %>
                          <td class="text-success"><strong>Pass</strong></td>
                        <% } else { %>
                          <td class="text-danger"><strong>Fail</strong></td>
                        <% } %>
                       
                       
                        <td><%= data.userList[i].examinerComment %></td>
                        <% if (data.userList[i].testResult) { %>
                        <td>
                          <a class="btn btn-primary" href="#"
                            >Order Driver License</a
                          >
                        </td>
                        <% } else { %>
                        <td></td>
                        <% } %>
                      </tr>
                      <% } %>
                    </tbody>
                  </table>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <small id="copyright-white"
        >Copyright &copy;[ 8823564 Eda Ekeyilmaz ] && [ 8817006 Namitha Chevari ], All Rights Reserved</small
      >
    </footer>
  </body>
</html>
