<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/images/drive-test.ico" />
    <%-include("./partials/stylesheet.ejs") %>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker3.standalone.css'>
  <!-- Bootstrap JS -->
    <link rel="stylesheet" href="/css/examiner.css" />
    <title><%= data.title %></title>
  </head>

  <body>
    <%-include("./partials/header.ejs") %>
    <div class="container examiner">
      <h1>Appointment List</h1>
      <form action="/examiner" method="GET">
        <label for="testType">Filter by Test Type:</label>
        <select name="testType" id="testType">
          <option value="">All</option>
          <option value="G">G</option>
          <option value="G2">G2</option>
        </select>
        <button type="submit">Filter</button>
      </form>
      <div class="row">
          <div class="col-12">
              <table class="table table-striped">
                  <thead>
                      <tr>
                        <th scope="col">User Name</th>
                        <th scope="col">Exam Date</th>
                        <th scope="col">Exam Time</th>
                        <th scope="col">Test Type</th>
                          <th scope="col">Select</th>
                          <!-- <th scope="col">Delete</th> -->
                      </tr>
                  </thead>
                  <tbody>
                    <% for(var i=0; i<data.appointmentList.length; i++) {
                      const appointment = data.appointmentList[i];
                      if ((!req.query.testType || req.query.testType === appointment.testType)) { %>
                      <tr>
                        <td><%= appointment.firstName + ' ' + appointment.lastName%></td>
                        <td><%= appointment.appointment.appointmentDate %></td>
                        <td><%= appointment.appointment.appointmentTime %></td>
                        <td><%= appointment.testType %></td>
                        <td><a class="btn btn-success" href="/examiner_edit/<%= appointment.id %>"> View Details </a></td>
                      </tr>
                    <% } } %>
                  </tbody>
              </table>
          </div>
      </div>
    </div>
    <small id="copyright-white">Copyright &copy; 2023, All Rights Reserved</small>
  </body>
</html>
