<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%-include("./partials/stylesheet.ejs") %>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="shortcut icon" href="/images/drive-test.ico">
    <title><%= data.title %></title>
</head>
<body>
    <%-include("./partials/header.ejs") %>

        <% if(data.error != null) { %>
            <h2 style="color: red;"><%= data.error %></h2>
        <% } %>

        <div class="container">
          <div class="row">
              <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                  <div class="panel border bg-white">
                      <div class="panel-heading">
                          <h3 class="pt-3 font-weight-bold">LOGIN</h3>
                      </div>
                      <div class="panel-body p-3">
                          <form action="/login" method="post" id="login_form">
                            <% if(data.showLoginMessage != null) { %>
                                <div class="alert alert-success" role="alert" bis_skin_checked="1"> <%= data.showLoginMessage %> </div>
                            <% } %>

                              <div class="form-group py-2">
                                  <div class="input-field"><input type="text" id="username" name="username" placeholder="Username or Email"> </div>
                                  <span class="error-username"></span>
                                </div>
                              <div class="form-group py-1 pb-2">
                                  <div class="input-field"><input type="password" id="password" name="password" placeholder="Enter your Password"></div>
                                  <span class="error-password"></span>
                              </div>

                              <%-include("./partials/success.ejs") %>
                              <%-include("./partials/error.ejs") %>
                              
                              <button type="submit" class="btn btn-block mt-3 btn-login" id="submit">Login</button>
                              <div class="text-center pt-4 text-muted">Don't have an account? 
                                <a href="/signup" id="signup">Sign up</a> 
                            </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <small id="copyright-white" >Copyright &copy;[ 8823564 Eda Ekeyilmaz ] && [ 8817006 Namitha Chevari ], All Rights Reserved</small>

    <% include("./partials/script.ejs") %>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/js/login.js"></script>
</body>
</html>