<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%-include("./partials/stylesheet.ejs") %>
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="shortcut icon" href="/images/drive-test.ico" />
    <title><%= data.title %></title>
  </head>
  <body>
    <%-include("./partials/header.ejs") %>


    
    <div class="container container-signup">
      <div class="row">
        <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
          <div class="panel border bg-white signup-div">
            <div class="panel-heading">
              <h3 class="pt-5 font-weight-bold">SIGN UP</h3>
            </div>
            <div class="panel-body p-3">

              <form action="/signup" method="post" id="signup_form">
                
                <div class="form-group py-2">
                  <div class="input-field"><input type="text" id="username" name="username" placeholder="Username or Email"> </div>
                  <span class="error-username"></span>
                </div>
              <div class="form-group py-1 pb-2">
                  <div class="input-field">
                    <input type="password" id="password" name="password" placeholder="Enter your password">
                  </div>
                  <span class="error-password"></span>
              </div>
                
              <div class="form-group py-1 pb-2">
                <div class="input-field">
                  <input type="password" id="confirm_password" name="confirm_password" placeholder="Enter your password again">
                </div>
                <span class="error-confirmpassword"></span>
            </div>

            <div class="form-group py-1 pb-2">
                <select id="userType" name="userType" class="form-control">
                  <option hidden value="-1" selected>Select a user type</option>
                  <option value="driver">Driver</option>
                  <option value="examiner">Examiner</option>
                  <option value="admin">Admin</option>
                </select>
              <span class="error-usertype"></span>
            </div>

                <%-include("./partials/success.ejs") %>
                <%-include("./partials/error.ejs") %>

                <button type="submit" class="btn btn-block mt-3 btn-login" id="submit">Sign Up</button>
                <div class="text-center pt-4 text-muted">
                  You have an account?
                  <a href="/login" id="login">Login</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <small id="copyright-white" >Copyright &copy;[ 8823564 Eda Ekeyilmaz ] && [ 8817006 Namitha Chevari ], All Rights Reserved</small>

    <% include("./partials/script.ejs") %>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/js/signup.js"></script>
  </body>
</html>
